defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        /tmp/msmtp.log

account        default
host           mail.smtp2go.com
port           587
from           no-reply@gabo.ar
user           TU_USUARIO_SMTP2GO
password       TU_PASSWORD_SMTP2GO