defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        /tmp/msmtp.log

account        default
host           mail.smtp2go.com
port           587
from           ${SMTP_FROM}
user           ${SMTP_USER}
password       ${SMTP_PASS}